body{
	margin: 0;
	padding: 0;
}
.clearfix::after{
	content: "";
	display: block;
	clear: both;
}
a{
	text-decoration: none;
	color: white;
}
ul{
	padding: 0;
	list-style-type: none;
}
/*************************google字体****************************/
@font-face {
  font-family: 'Dancing Script';
  font-style: normal;
  font-weight: 400;
  src: local('Dancing Script Regular'), local('DancingScript-Regular'), url(../font/google/DK0eTGXiZjN6yA8zAEyM2VhlQWQpSCpzb2Peu3I-Q34.woff) format('woff');
}
/**********************导航栏************************/
header{
	padding: 20px 0;
	position: fixed;
	width: 100%;
	height: 60px;
	z-index: 999;
	transition: all .5s;
}
header.on{
	padding: 0;
	background-color: rgba(0,0,0,.8);
}
.logo{
	float: left;
}
.topcontainer{
	float: right;
}
.container{
	max-width: 1200px;
	margin: auto;
	padding: 1px;
}
.logo a{
	height: 60px;
	position: relative;
}
.logo a span{
	position: absolute;
	left: 65px;
	top: -44px;
	font-size: 48px;
	font-family: 'Dancing Script', cursive;
}
.topcontainer ul{
	margin: 0;
	text-shadow: 1px 1px 1px rgba(0,0,0,.5);
}	
.topcontainer ul li{
	float: left;
	font-family: "微软雅黑";
}
.topcontainer ul li a{
	text-align: center;
	display: block;
	width: 100px;
	height: 60px;
	line-height: 60px;
	transition: all .5s
}
.topcontainer ul li a:hover{
	color: #339BEB;
}

/*************************首页部分********************/
.banner{
	background-image: url(../img/banner.jpg);
	height: 800px;
	font-family: "微软雅黑";
}
.banner .container{
	max-width: 800px;
	height: 180px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	color: white;
	text-shadow: 1px 1px 1px rgba(0,0,0,.5);
	line-height: 1.5;
}
.banner .container h1{
	text-align: center;
}
.banner .container h1 strong{
	color: #339BEB;
}
.banner .container p strong{
	background-color: rgba(255,255,255,.6);
	text-shadow: none;
	padding: 4px;
	color: black;
}
/***************************关于部分**************************/
.about{
	padding: 50px 0;
}
.about .container{
	text-align: center;
}
.about .container h2{
	font-family: "微软雅黑";
	text-align: center;
}
.about .container>p{
	padding-bottom: 50px;
}
.about .container .img{
	width: 49%;
	float: left;
}
.about .container .img img{
	width: 100%;
	height: 100%;
}
.about .container .note p{
	
}
