body{
	margin: 0;
	padding: 0;
}
.clearfix::after{
	content: "";
	display: block;
	clear: both;
}
a{
	text-decoration: none;
	color: white;
}
ul{
	padding: 0;
	list-style-type: none;
}
section h2{
	font-family: "微软雅黑";
	text-align: center;
	padding-top: 50px;
}
section h2+p{
	text-align: center;
	padding-bottom: 50px;
}
p,
li{
	line-height: 2;
}
/*************************google字体****************************/
@font-face {
  font-family: 'Dancing Script';
  font-style: normal;
  font-weight: 400;
  src: local('Dancing Script Regular'), local('DancingScript-Regular'), url(../font/google/DK0eTGXiZjN6yA8zAEyM2VhlQWQpSCpzb2Peu3I-Q34.woff) format('woff');
}
/**********************导航栏************************/
header{
	padding: 20px 0;
	position: fixed;
	width: 100%;
	height: 60px;
	z-index: 999;
	transition: all .5s;
}
header.on{
	padding: 0;
	background-color: rgba(0,0,0,.8);
}
.logo{
	float: left;
}
.topcontainer{
	float: right;
}
.container{
	max-width: 1200px;
	margin: auto;
}
.logo a{
	height: 60px;
	position: relative;
}
.logo a span{
	position: absolute;
	left: 65px;
	top: -44px;
	font-size: 48px;
	font-family: 'Dancing Script', cursive;
}
.topcontainer ul{
	margin: 0;
	text-shadow: 1px 1px 1px rgba(0,0,0,.5);
}	
.topcontainer ul li{
	float: left;
	font-family: "微软雅黑";
}
.topcontainer ul li a{
	text-align: center;
	display: block;
	width: 100px;
	height: 60px;
	line-height: 60px;
	transition: all .5s
}
.topcontainer ul li a:hover{
	color: #339BEB;
}

/*************************首页部分********************/
.banner{
	background-image: url(../img/banner.jpg);
	background-size: cover;
	padding: 50px 0;
	font-family: "微软雅黑";
}
.banner .container{
	max-width: 800px;
	height: 180px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	color: white;
	text-shadow: 1px 1px 1px rgba(0,0,0,.5);
	line-height: 1.5;
}
.banner .container h1{
	text-align: center;
}
.banner .container h1 strong{
	color: #339BEB;
}
.banner .container p strong{
	background-color: rgba(255,255,255,.6);
	text-shadow: none;
	padding: 4px;
	color: black;
}
/***************************关于部分**************************/
.about{
	padding: 1px;
}
.about .container{
	padding-bottom: 60px;
}
.about .container .img{
	width: 48%;
	float: left;
}
.about .container .img img{
	width: 100%;
	height: 100%;
}
.about .container .note{
	width: 48%;
	float: right;
}
.about .container .note p:nth-child(1){
	margin-top: 0;
}
.about .container .note li{
	cursor: pointer;
	list-style: none;
	counter-increment: counter-li;
}
.about .container .note ul{
	counter-reset: counter-li;
}
.about .container .note li:before{
	content: counter(counter-li);
	width: 20px;
	height: 20px;
	display: inline-block;
	line-height: 20px;
	text-align: center;
	border: 1px dashed #000;
	border-radius: 20px;
	margin-right: 14px;
	transition: transform .3s;
}
.about .container .note li:hover:before{
	transform: translate(10px);
}
/***************************我们的服务**************************/
.service{
	min-height: 600px;
	background: url(../img/banner2.jpg) center center no-repeat;
	background-size: cover;
	color: white;
	box-shadow: inset 0 0 100px 20px rgba(0,0,0,.3);
}.service>.container{
	padding-bottom: 50px;
}
.service .container li{
	width: 48%;
	min-height: 140px;
	float: left;
	text-align: right;
	cursor: pointer;
}
.service .container li:nth-child(2n){
	float: right;
	text-align: left;
}
.service .container li:hover i{
	transform: scale(1.2);
	color: #339BEB;
}
.service .container li h3{
	display: inline-block;
	margin: 0;
}
.service .container li i{
	display: inline-block;
	transition: all .3s;
	float: right;
	padding: 10px 0px 10px 20px;
}
.service .container li:nth-child(2n) i{
	float: left;
	padding: 10px 20px 10px 0px;
}
/***************************成功案例**************************/
.case{
	padding: 1px;
}
.case .container{
	max-width: 1200px;
}
.case .container .content figure{
	position: relative;
	width: 24%;
	height: 366px;
	margin: 8px 12px 8px 0;
	float: left;
	overflow: hidden;
}
.case .container .content figure:hover img{
	transform: scale(1.2) rotate(3deg);
}
.case .container .content figure img{
	width: 100%;
	transition: transform .5s;
}
.case .container .content figure figcaption{
	position: absolute;
	right: 0;
	left: 0;
	margin: auto;
	bottom: 20px;
	width: 86%;
	min-height: 50%;
	background-color: rgba(255,255,255,.8);
	padding: 8px;
}
.case .container .content figure figcaption p{
	display: block;
	font-size: 12px;
	width: 88%;
	min-height: 40px;
	margin: auto;
	margin-top: 30px;
}
.case .container .content figure figcaption h3{
	width: 60%;
	margin: 0 0 0 15px;
	display: inline-block;
	height: 48px;
	vertical-align:top;
	line-height: 48px;
}
.case .container .content figure figcaption .time{
	width: 24%;
	height: 48px;
	text-align: center;
	background-color: #339BEB;
	display: inline-block;
}
.case .container .content figure figcaption .time .year{
	height: 24px;
	line-height: 24px;
}
.case .container .content figure figcaption .time .month{
	background-color: rgba(0,0,0,.1);
	height: 24px;
	line-height: 24px;
}
.case .container .content figure figcaption .data{
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: rgba(0,0,0,.2);
	width: 100%;
	height: 24px;
	line-height: 24px;
	text-align: right;
}
/***************************联系我们**************************/
.contact{
	background: url(../img/android-1869510_1920.jpg);
	background-size: cover;
	color: white;
}
.contact .container{
	width: 1200px;
	padding-bottom: 50px;
}
.contact .container .left{
	width: 48%;
	float: left;
}
.contact .container .left i{
	padding-right: 10px;
}
.contact .container .right{
	width: 48%;
	float: right;
}
.contact .container .right input,
.contact .container .right textarea{
	width: 100%;
	height: 40px;
	margin: 10px 0 10px 0;
	border-radius: 4px;
	outline: none;
	background-color: rgba(255,255,255,.5);
	border: none;
	text-indent: 1em;
	color: #000000;
}
::-webkit-input-placeholder{
	color: #000;
}
::-moz-placeholder{
	color: #000;
}
.contact .container .right textarea{
	height: 50px;
	margin-bottom: 15px;
}
/***************************footer**************************/
.footer p{
	text-align: center;
}
