body{
	margin: 0;
	padding: 0;
}
.clearfix::after{
	content: "";
	display: block;
	clear: both;
}
a{
	text-decoration: none;
	color: white;
}
ul{
	padding: 0;
	list-style-type: none;
}
/**********************导航栏************************/
header{
	padding: 20px 0;
	position: fixed;
	width: 100%;
	height: 60px;
}
.logo{
	float: left;
}
.topcontainer{
	float: right;
}
.container{
	max-width: 1200px;
	margin: auto;
}
.logo a{
	height: 60px;
}
.logo a span{
	font-size: 48px;
	font-family: 'Dancing Script', cursive;
}
.topcontainer ul{
	margin: 0;
}	
.topcontainer ul li{
	float: left;
}
.topcontainer ul li a{
	text-align: center;
	display: block;
	width: 100px;
	height: 60px;
	line-height: 60px;
}

/*************************首页部分********************/
.banner{
	background-image: url(../img/banner.jpg);
	height: 800px;
}
