.clearfix::after{
	content: "";
	display: table;
	clear: both;
}
.imageList{
	max-width: 1200px;
	margin: auto;
}
.imageList *,
.imageList *::before,
.imageList *::after{
	box-sizing: border-box;
	transition: all .5s;
}
.imageList figure{
	float: left;
	width: 30%;
	margin: calc(10%/6);
	border: 10px solid rgba(255,255,255,1);
	box-shadow: 1px 1px 6px 0 rgba(0,0,0,.5);
	overflow: hidden;
	position: relative;
	cursor: pointer;
}
.imageList figure img{
	width: 100%;
	transform: scale(1) rotate(0deg);
}
.imageList figure:hover img{
	transform: scale(1.2) rotate(6deg);
}
.imageList figure figcaption h3,
.imageList figure figcaption p{
	color: white;
	text-align: center;
}
.imageList figure figcaption h3{
	margin: 0;
	position: relative;
	font-size: 30px;
	top: 5px;
}
.imageList figure figcaption p{
	position: relative;
	top: -10px;
	opacity: 0;
}
.imageList figure:hover figcaption p{
	opacity: 1;
}
.imageList figure figcaption{
	position: absolute;
	z-index: 3;
	width: 60%;
	height: 20%;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	border: 1px solid #fff;
	border-bottom: none;
	background-color: rgba(0,0,0,.4);
}
.imageList figure figcaption::before,
.imageList figure figcaption::after{
	content: "";
	position: absolute;
	width: 50%;
	height: 1px;
	background-color: #fff;
	bottom: 0;
}
.imageList figure figcaption::after{
	right: 0;
}
.imageList figure:hover figcaption::before,
.imageList figure:hover figcaption::after{
	width: 20%;
}








