.clearFix::after{
	content: "";
	display: block;
	clear: both;
}
.imgLest{
	width: 1200px;
	margin: auto;
}
.imgLest figure{
	margin: calc(10%/6);
	float: left;
	width: 30%;
	position: relative;
}
.imgLest figure img{
	width: 100%;
}
.imgLest figure figcaption{
	position: absolute;
	left: 20px;
	right: 20px;
	top: 20px;
	bottom: 20px;
	z-index: 1;
	border: 1px solid #fff;
	outline: 20px solid rgba(0,0,0,.8);
	transition: all .5s;
}
.imgLest figure:hover figcaption{
	left: 10px;
	right: 10px;
	top: 10px;
	bottom: 10px;
	outline: 10px solid rgba(0,0,0,.6);
}
.imgLest figure figcaption{
	color: white;
	display: block;
	text-align: center;
	line-height: 100%;
}
