.clearfix::after{
	content: "";
	display: table;
	clear: both;
}
body{
	background-image: url(../img/timg.jpg);
	background-repeat:no-repeat;
	background-attachment:fixed;
}
*{
	box-sizing: border-box;
}
.wrapper{
	max-width: 1200px;
	margin: auto;
	position: relative;
}
.wrapper header img{
	width: 80px;
	height: auto;
	margin: 50px 0;
}
ul{
	padding: 0;
	list-style-type: none;
}
header ul{
	position: absolute;
	right: 0;
	top: 50px;
}
header li{
	float: left;
	width: 80px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	transition: all .5s;
	border: 2px solid rgba(0,0,0,0);
	margin: 0 10px;
}
header li a{
	display: block;
	width: 80px;
	height: 60px;
	line-height: 60px;
	text-decoration: none;
	color: white;
	font-weight: bold;
}
header li:hover{
	border: 2px solid #000;
}
header p{
	margin: 30px 0;
}
header p a{
	text-decoration: none;
	color: white;
	font-weight: 500;
	border-bottom: 1px dashed #fff;
}
.ul-1 li{
	width: 160px;
	height: 50px;
	line-height: 50px;
	float: left;
	margin: 10px 30px 10px 0;
	background-color: rgba(255,255,255,.5);
	text-align: center;
	border-radius: 10px;
	cursor: pointer;
	transition: all .5s;
}
.ul-1 li:hover{
	background-color: rgba(255,255,255,.3);
}
.ul-1 li a{
	display: block;
	width: 160px;
	height: 50px;
	text-decoration: none;
	color: black;
	font-weight: bold;
}
.ul-2 li{
	width: 300px;
	height: 200px;
	float: left;
	margin: 30px calc(300px/6);
	position: relative;
}
.ul-2 li p{
	position: absolute;
	margin: 0;
	padding: 0;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
	z-index: 3;
	width: 0px;
	height: 18px;
	overflow: hidden;
	color: white;
	font-weight: bold;
	transition: .8s;
}
.ul-2 li:hover p{
	width: 120px;
}
.ul-2 li img{
	width: 100%;
	height: 100%;
	-webkit-filter: brightness(1);
	transition: all .5s;
}
.ul-2 li img:hover{
	-webkit-filter: brightness(.5);
}
