.clearfix::after{
	content: "";
	display: table;
	clear: both;
}
body{
	background-image: url(../img/timg.jpg);
	background-repeat:no-repeat;
	background-attachment:fixed;
}
*{
	box-sizing: border-box;
}
.wrapper{
	max-width: 1200px;
	margin: auto;
	position: relative;
}
.wrapper header img{
	width: 80px;
	height: auto;
	margin: 50px 0;
}
ul{
	list-style-type: none;
	padding: 0;
	position: absolute;
	right: 0;
	top: 50px;
}
li{
	float: left;
	width: 80px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	transition: all .5s;
	border: 2px solid rgba(0,0,0,0);
}
li a{
	display: block;
	width: 80px;
	height: 60px;
	line-height: 60px;
	text-decoration: none;
	color: white;
	font-weight: bold;
}
li:hover{
	border: 2px solid #000;
}
p{
	margin: 30px 0;
}
p a{
	text-decoration: none;
	color: white;
	font-weight: 500;
	border-bottom: 1px dashed #fff;
}
