body{
	margin: 0;
	padding: 0;
	background-size: 100%;
	background-color: rgb(255,255,255);
	
}
main{
	background: url(../img/1497582574633.jpg) top center no-repeat;
}
*{
	box-sizing: border-box;
}
ul{
	list-style: none;
}
a{
	text-decoration: none;
	color: #000;
}
.clearfix::after{
	content: "";
	display: table;
	clear: both;
}
.center{
	width: 1200px;
	margin: auto;
}
section{
	line-height: 2;
	min-height: 400px;
	position: relative
}
header .logo img{
	vertical-align: middle;
	width: 60px;
	height: auto;
	cursor: pointer;
	border-radius: 100%;
	transition: box-shadow 1s;
}
header .logo img:nth-of-type(1):hover{
	-webkit-animation: logo 2s;
	animation: logo 2s;
	box-shadow: 0 0 15px 8px rgba(252,220,47,.8);
}
@-webkit-keyframes logo{
	20%{
		box-shadow: 0 0 15px 8px rgba(252,220,47,.2);
	}
	30%{
		box-shadow: 0 0 15px 8px rgba(252,220,47,0);
	}
	40%{
		box-shadow: 0 0 15px 8px rgba(252,220,47,.5);
	}
	50%{
		box-shadow: 0 0 15px 8px rgba(252,220,47,0);
	}
	100%{
		box-shadow: 0 0 15px 8px rgba(252,220,47,.8);
	}
	
}
@keyframes logo{
	20%{
		box-shadow: 0 0 15px 8px rgba(252,220,47,.2);
	}
	30%{
		box-shadow: 0 0 15px 8px rgba(252,220,47,0);
	}
	40%{
		box-shadow: 0 0 15px 8px rgba(252,220,47,.5);
	}
	50%{
		box-shadow: 0 0 15px 8px rgba(252,220,47,0);
	}
	100%{
		box-shadow: 0 0 15px 8px rgba(252,220,47,.8);
	}
}

header .logo img:nth-of-type(2){
	width: 200px;
}
header .logo span{
	vertical-align: middle;
	font-size: 3em;
	color: white;
}
header {
	width: 1200px; 
	height: 80px;
	line-height: 80px;
	margin: 10px auto;
}
header.on{
	margin: ;
}
header .logo{
	margin-left: 120px;
	display: inline-block;
}
header nav {
	width: 650px;
	float: right;
	margin: 0;
	text-align: right;
	position: relative;
}
#k{
	display: block;
	position: absolute;
	bottom: 18px;
	left: 65px;
	width: 140px;
	height: 5px;
	background-color: #FAD65C;	
	transition: .5s;
}
header nav a:nth-of-type(2):hover~#k{
	left: 215px;
}
header nav a:nth-of-type(3):hover~#k{
	left: 360px;
}
header nav a:nth-of-type(4):hover~#k{
	left: 510px;
}
header nav a{
	position: relative;
	display: inline-block;
	font-size: 20px;
	width: 140px;
	text-align: center;
}
.menu a span:first-child{
	z-index: 2;
	display: block;
	height: 60px;
}
.menu a span:last-child{
	z-index: 1;
	display: block;
	color: #87CEFF;
	font: 14px Georgia,serif;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	-moz-transition: -moz-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
	-webkit-transform: translateY(-100%);
	-moz-transform: translateY(-100%);
	transform: translateY(-100%);
	text-align: center;
}
.menu>a span{
	color: rgba(0,0,0,.9);
	font-family: "微软雅黑";
}
.menu a:hover span:last-child, .topnav a:focus span:last-child{
	opacity: 1; -webkit-transform: translateY(0%);
	-moz-transform: translateY(0%);
	transform: translateY(0%);
}
.home {
	
	background-size:100% ;
	height: 375px;
	font-size: 20px;
	color: #FFF;
	line-height: 1.9;
	margin: 9px 0;
	background-color: rgba(0,0,0,.5);
}
.home ul {
	width: 900px;
	margin: auto;
	padding-top: 15px;
}
.home ul p{
	text-indent: 2em;
}
.home ul span{
	font-size: 1.2em;
	background: #fff;
	color: #000;
}
#gla{
	margin-left:-200px;
	position:relative;
	height:404px;
	
}
.bac{
	position:absolute;
	bottom:0;
	left:50px;
}
#gla_box{
	width:700px;
	margin:auto;
}
.gla_inbox{
	overflow:hidden;
	position:relative;
}
.gla_inbox a{
	padding:5px;
	display:block;
	position:absolute;
	top:220px;
	left:90px;
	background:#0066CC;
	color:#FFF;
}
.gla_inbox img{
	width:100%;
	height:100%;
}
.roundabout-holder {
	height: 404px;
	width: 700px;
}
.roundabout-moveable-item {
	display:block;
	height: 300px;
	width: 500px;;
	cursor: pointer;
}
.roundabout-in-focus {
	cursor: auto;
}
.title { -webkit-animation: animations 15s ease-in-out 1s infinite; -moz-animation: animations 15s ease-in-out 1s infinite; -o-animation: animations 15s ease-in-out 1s infinite; -ms-animation: animations 15s ease-in-out 1s infinite; animation: animations 15s ease-in-out 1s infinite; }
@-webkit-keyframes animations { 0% {
opacity:0;
}
 40% {
opacity:.8;
}
 45% {
opacity:.3;
}
 50% {
opacity:.8;
}
 55% {
opacity:.3;
}
 60% {
opacity:.8;
}
 100% {
opacity:1;
}
}
@-moz-keyframes animations { 0% {
opacity:0;
}
 40% {
opacity:.8;
}
 45% {
opacity:.3;
}
 50% {
opacity:.8;
}
 55% {
opacity:.3;
}
 60% {
opacity:.8;
}
 100% {
opacity:1;
}
}
@-o-keyframes animations { 0% {
opacity:0;
}
 40% {
opacity:.8;
}
 45% {
opacity:.3;
}
 50% {
opacity:.8;
}
 55% {
opacity:.3;
}
 60% {
opacity:.8;
}
 100% {
opacity:1;
}
}
@-ms-keyframes animations { 0% {
opacity:0;
}
 40% {
opacity:.8;
}
 45% {
opacity:.3;
}
 50% {
opacity:.8;
}
 55% {
opacity:.3;
}
 60% {
opacity:.8;
}
 100% {
opacity:1;
}
}
@keyframes animations { 0% {
opacity:0;
}
 40% {
opacity:.8;
}
 45% {
opacity:.3;
}
 50% {
opacity:.8;
}
 55% {
opacity:.3;
}
 60% {
opacity:.8;
}
 100% {
opacity:1;
}
}
.q{
	margin-top: -96px;
}
.q ul {
	padding: 0;
}
/*联系*/
.contact{
	width: 100%;
	height:300px;	
	background-color: #121212;
	background: url(../img/1497582249276.jpg) center center no-repeat;
	position: relative;
}
.contact .center{
	width: 100%;
	height: 400px;
	background-color: rgba(0,0,0,.5);
}
.contact .center .lx{
	width: 1200px;
	margin: auto;
}
.contact .lx span{
	margin: auto;
	color: #fff;
	padding: 0 10px;
}
.contact .lx .contact1{
	margin: 20px 0;
}
.contact span,
.contact i{
	color: #fff;
}
.contact h3{
	color: #fff;
}
.contact .lx1{
	width: 30%;
	margin:40px 120px;
	float: left;
}
.contact .lx2{
	width: 30%;
	margin: 15px;
}
.contact .lx1 .fa li{
	margin: 0 25px;
	list-style: none;
	float: left;
	width: 20%;
} 
.contact .lx1 .fa li img{
	width: 100%;
	margin-left:15px;
	border: 5px solid #fff;
	opacity: 0;
	transition: opacity .5s;
}
.contact .lx1 .fa li i:hover{
	color: #FAD65C;
}
.contact .lx1 .fa li i:hover+img{
	opacity: 1;
}
.contact .lx1 .fa i{
	margin: 20px 40px;
	font-size: 35px;
	cursor: pointer;
}
footer{
	text-align: center;
	font-size: 10px;
	line-height: 48px;
	height: 48px;
	background-color: #7C7C7C;
}
footer p{
	margin: 0;
	color: #fff;
}
footer a{
	color: #fff;
	text-decoration: none;
}

/***********************about***********************/


.about .container{
	width: 100%;
	height: 470px;
	margin: auto;
	color: rgba(255,255,255,.9);
}
.about .container h1{
	text-align: center;
	font-family: "微软雅黑";
	font-size: 32px;
	margin: 30px 0 30px 0;
}
.about .container .top{
	width: 1200px;
	height: 2px;
	margin: auto;
	background-color: rgba(50,50,50,.8);
}
.about .container p{
	width: 800px;
	text-indent: 2em;
	margin: 30px auto;
	line-height: 2.3;
	font-family: "宋体";
	background-color: rgba(0,0,0,.3);
	padding: 20px 50px;
}
.about .container .bottom{
	width: 1200px;
	height: 2px;
	margin: auto;
	background-color: rgba(50,50,50,.8);
}