body{
	padding: 0;
	margin: 0;
}
.clearfix::after{
	content: "";
	display: table;
	clear: both;
}
.menu{
	height: 50px;
	background: #49f;
	margin: 20px 0;
	box-shadow: 0 3px 10px 0 rgba(0,0,0,.5);
}
.menu ul{
	list-style-type: none;
	width: 600px;
	padding: 0;
	margin: auto;
}
.menu ul li{
	float: left;
	width: 199px;
}
.menu ul li:last-child a{
	border-right: 1px solid rgba(255,255,255,.5);
}
.menu ul li a i{
	transform: scale(0);
	margin-right: -30px;
	transition: all .6s;
}
.menu ul li{
	transition: all .6s;
}
.menu ul li a{
	position: relative;
	display: inline-block;
	height: 50px;
	width: 199px;
	line-height: 50px;
	font-size: 18px;
	color: white;
	text-decoration: none;
	text-align: center;
	border-left: 1px solid rgba(255,255,255,.5);
	transition: all .6s;
}
.menu ul li a::after{
	content: "";
	position: absolute;
	left: 20px;
	right: 20px;
	top: 10%;
	bottom: 2px;
	border-radius: 100%;
	box-shadow: 0 9px 10px 0 rgba(0,0,0,0);
	z-index: -1;
	transition: all .5s;
}
.menu ul li a:hover::after{
	box-shadow: 0 10px 20px 3px rgba(0,0,0,.3);
}
.menu ul li a:hover i{
	transform: scale(1);
	margin-right: 0;
}
