.about img {
	border: 0;
}
.about ul {
	list-style: none;
}
.clearfix:after {
	display: block;
	content: " ";
	clear: both;
}

.about .clearfix {
	zoom: 1;
}
body {
	font-family: "microsoft yahei";
	margin: 0;
	padding: 0;
}
.about .container {
	padding: 50px 0;
	min-width: 1000px;
	height: 600px;
	background: url(../img/1.jpg) center center no-repeat;
	background-size: cover;
}
.about h1 {
	margin-bottom: 30px;
	text-align: center;
	font-size: 30px;
}
/*旋转木马必要样式*/

.about .poster-main {
	position: relative;
	width: 800px;
	height: 270px;
	margin-bottom: 50px;
	margin: 50px auto;
}

.about .poster-main a,
.about .poster-main img {
	display: block;
	box-shadow: 0 0 8px 2px rgba(0,0,0,.3);
}

.about .poster-main .poster-list {
	width: 800px;
	height: 270px;
}

.about .poster-main .poster-list .poster-item {
	position: absolute;
	left: 0;
	top: 0;
}

.about .poster-main .poster-btn {
	position: absolute;
	top: 0;
	width: 100px;
	height: 270px;
	z-index: 10;
	cursor: pointer;
	opacity: 0.8
}

.about .poster-main .poster-prev-btn {
	left: 0;
	background: url(btn_l.png) no-repeat center center;
}

.about .poster-main .poster-next-btn {
	right: 0;
	background: url(btn_r.png) no-repeat center center;
}
/*下面内容部分*/
.about .bottom{
	max-width: 800px;
	height: 300px;
	margin: auto;
}
.about .bottom h2{
	margin: auto;
	text-align: center;
	color: white;
	text-shadow: 2px 2px 4px rgba(0,0,0,1);
	margin-bottom: 20px;
}
.about .bottom p{
	margin: 0;
	text-indent: 2em;
	color: white;
	text-shadow: 2px 2px 4px rgba(0,0,0,1);
	line-height: 2;
}
