body{
	margin: 0;
	padding: 0;
}
.clearfix::after{
	content: "";
	display: block;
	clear: both;
}
.about{
	width: 100%;
	height: 560px;
	padding-top: 50px;
	background-color: rgb(250,250,250);
	border-bottom: 1px solid rgb(210,210,210);
}
.about .container{
	max-width: 1200px;
	min-width: 800px;
	margin: auto;
}
.about .container>p{
	text-align: center;
	margin: 0 0 30px 0;
	font-family: "微软雅黑";
	font-size: 32px;
	color: rgb(150,150,150);
}
.about .container .line{
	width: 1200px;
	height: 1px;
	margin: auto;
	background-color: rgb(210,210,210);
}
.about .container figure{
	position: relative;
	border-radius: 10px;
	width: 360px;
	height: 400px;
	margin: 30px calc(100% / 2 - 360px * 3 / 2) 0px 0;
	overflow: hidden;
	float: left;
	cursor: pointer;
	text-align: center;
}
.about .container figure:nth-of-type(3n){
	margin-right: 0;
}
.about .container figure img{
	width: 100%;
}
.about .container figure figcaption{
	position: absolute;
	top: 0;
	width: 360px;
	height: 400px;
}
.about .container figure figcaption p:nth-of-type(1){
	display: block;
	width: 100%;
	height: 80px;
	line-height: 80px;
	font-size: 22px;
	font-family: "微软雅黑";
	color: #505050;
	background-color: rgba(255,255,255,.8);
	margin-top: 160px;
}
.about .container figure figcaption p:nth-of-type(2){
	opacity: 0;
	padding: 0 40px 0 40px;
	color: white;
	font-family: "微软雅黑";
	font-size: 18px;
}
.about .container figure::before{
	content: "";
	display: block;
	width: 360px;
	height: 400px;
	position: absolute;
	top: 0;
}
.about .container figure:hover::before{
	background-color: rgba(34, 152, 244, 0.65);
}
.about .container figure:hover figcaption p:nth-of-type(1){
	margin-top: 0;
	background-color: rgba(0,0,0,0);
	color: white;
	width: 250px;
	margin: auto;
	border-bottom: 1px solid white;
}
.about .container figure:hover figcaption p:nth-of-type(2){
	opacity: 1;
}
